
.bordered {
  box-shadow: 0 0 20px beige;
  border-radius:100px;
}

.frame {
  box-shadow: 0 0 10px black;
}

body {
  background: green;
}

#Game {
  background: yellowgreen;
  user-select: none;
  border: 2px solid wheat;
  display:none;
  box-shadow: 0 0 5px yellowgreen;
  margin-top: 15%;
  width: 68%;
  margin: 0 auto;

}

.buttons button {
  width: 10%;
  height: 5%;
  border: 1px solid gold;
  background: brown;
  user-select: none;
  color: gold;
  box-shadow: 0 0 5px black;
 

}

#GTN {
  color: gold;
  text-align: center;
  border: 1px solid gold;
  user-select: none;
  background: brown;
  box-shadow: 0 0 10px black;
  
  
}

#StartButton {
width: 10%;
  height: 5%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: -60%; left: 0; bottom: 0; right: 0;
  color: gold;
  background: brown;
  border:  2px solid gold;
  box-shadow: 0 0 10px black;
}

#DiffButton {
  width: 10%;
    height: 5%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: -60%; left: 0; bottom: 0; right: 0;
    color: gold;
    background: brown;
    border:  2px solid gold;
    box-shadow: 0 0 10px black;
    display: none;
  }

  #EasyButton {
    width: 10%;
    height: 5%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: -60%; left: 0; bottom: 0; right: 0;
    color: gold;
    background: brown;
    border:  2px solid gold;
    box-shadow: 0 0 10px black;
    display: none;
  }
  #NormalButton {
    width: 10%;
    height: 5%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: -49%; left: 0; bottom: 0; right: 0;
    color: gold;
    background: brown;
    border:  2px solid gold;
    box-shadow: 0 0 10px black;
    display: none;
  }
  #HardButton {
    width: 10%;
    height: 5%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: -38%; left: 0; bottom: 0; right: 0;
    color: gold;
    background: brown;
    border:  2px solid gold;
    box-shadow: 0 0 10px black;
    display: none;
  }

#Credits {
  width: 10%;
    height: 5%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: -75%; left: 0; bottom: 0; right: 0;
    display: none;
  }
  #text {
    color: gold;
    display: none;
    user-select: none;
    text-align: center;
    margin-top: 10%;
  } 

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow:  auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  #modalbtn {
    display: none;
  }

  .modal-content {
    background-color: blanchedalmond;
    margin: 16% auto;
    padding: 20px;
    border: 1px solid white;
    width: 20%
  }

  .close {
    color: firebrick;
    width: 33px;
    float: right;
    font-size: 95%;
    font-weight: unset;
    box-shadow: 0 0 3px black; 
  }

  

.exit {
  color: firebrick;
  width: 33px;
  float: left;
  font-size: 95%;
  font-weight: unset;
  box-shadow: 0 0 3px black; 
}

.over {
  color: firebrick;
  width: 33px;
  float: left;
  font-size: 95%;
  font-weight: unset;
  box-shadow: 0 0 3px black; 
}

#textwin {
  text-align: center;
  margin: 3px;
}

#textlose {
  text-align: center;
  margin: 3px;
}

#try{
  text-align: left;
  margin: 5px;
  color: brown;
}

#pnt{
  text-align: left;
  margin: 5px;
  color: brown;
}

#textover {
  text-align: center;
  margin: 3px;
}
