
.bordered {
  box-shadow: 0 0 20px beige;
  border-radius:100px;
}

body {
top: 300;
width: 1280px;
height: 128px;
background: gray  fixed no-repeat repeat;
border: 3px solid beige;
box-shadow: 0 0 50px snow;
background-size: cover contain;
margin:18% auto;
overflow-x: hidden;
border-radius: 100px;
user-select: none;
}

.circle {
	box-shadow: 0 0 20px beige;
	border-radius:25px;
}

  .empty {
box-shadow: 0 0 0 ;
}


